<launch>
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"/>
    <include file="$(find rns_bridge)/launch/bridge.launch"/>
    <include file="$(find rnsslam)/launch/slam.launch">
	    <arg name="scan_topic" value="/scan" />
	</include>
    <include file="$(find rnsmove)/launch/mover.launch"/> 
   
</launch>